:root {
  --color-primary: 242 135 5;
  --color-primary--hover: 242 135 5 / 0.8;
  --color-primary--pressed: 242 135 5 / 0.5;

  --color-secondary: 29 33 48;
  --color-secondary--hover: 29 33 48 / 0.8;
  --color-secondary--pressed: 29 33 48 / 0.5;

  --color-tertiary: 61 115 66;
  --color-tertiary--hover: 61 115 66 / 0.8;
  --color-tertiary--pressed: 61 115 66 / 0.5;

  --color-default: 29 33 48;
  --color-default--hover: 29 33 48 / 0.8;
  --color-default--pressed: 29 33 48 / 0.5;

  --color-text: 29 33 48;

  --color-light-bg-orange: 255 244 232;
  --color-light-bg-green: 238 255 239;

  --color-dark-green: 29 141 34;
  --color-dark-blue: 1 32 48;

  --color-soft-light: 250 250 250;
}
