:root {
  --color-primary: 5 101 185;
  --color-primary--hover: 5 101 185 / 0.8;
  --color-primary--pressed: 5 101 185 / 0.5;
  --color-primary--foreground: 149 205 255 / 0.5;

  --color-secondary: 0 0 0;
  --color-secondary--hover: 0 0 0 / 0.8;
  --color-secondary--pressed: 0 0 0 / 0.5;
  --color-secondary--foreground: 0 0 0 / 0.5;

  --color-default: 13 27 42;
  --color-default--hover: 13 27 42 / 0.8;
  --color-default--pressed: 13 27 42 / 0.5;
  --color-default--foreground: 119 141 169/ 0.5;
}
